.home-container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.row {
    flex-grow: 1;
    position: fixed;
}

.recommendation-column {
    position: fixed; 
    top: 20px; 
    right: 20px; 
    width: 300px;
    height: calc(100vh - 40px); 
    overflow-y: auto;
}

.recommendation-column p{
   font-size: 14px;
   color: #777777;
}