.container {
    max-width: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* margin-bottom: 20px; */
    border-left : 1px solid #ccc;
    border-right : 1px solid #ccc;
}

/* 프로필 영역 */
.profile {
    display: flex; 
    align-items: center; 
    padding: 10px;
    margin-top: 50px;
    margin-bottom: 100px;
}
.profileImg {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    margin: 10px;
    overflow: hidden;
}
.profileImg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.profileInfo {
    margin-left: 20px;  
}

.profileInfo button{
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    background-color: #77d8ff;
    color: white;
    margin: 20px 20px;  
}


.profileStats {
    display: flex;
    gap: 20px;
    margin-bottom: 25px;
    margin-left: 50px; 
}

.statItem {
    text-align: center; 
}

.statValue {
    font-size: 20px;
    font-weight: bold;
}

.statLabel {
    font-size: 14px;
}

.introduce {
    margin-left: 50px;
}

.profile-header {
    display: flex;
    align-items: center; 
    gap: 10px; 
    margin-left: 50px;
}
/* 프로필 영역 */

 /*게시물 영역  */
 .posts-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

@media (min-width: 600px) and (max-width: 899px) {
    .posts-grid div {
        flex: 1 1 calc(50% - 10px); /* 2개씩 표시 */
    }
}

@media (min-width: 900px) {
    .posts-grid div {
        flex: 1 1 calc(33.333% - 10px); /* 3개씩 표시 */
    }

}