.container {
    margin-left: 10px; 
    margin-right: 10px; 
    border: 1px solid #ccc;
    border-radius: 5px;
}

/* 프로필 영역 */
.profile {
    display: flex; 
    align-items: center; 
    padding: 10px;
}
.profileImg {
    border: 1px solid #ccc;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    margin: 10px;
    overflow: hidden;
}
.profileInfo {
    margin-left: 20px; 
}

.profileStats {
    display: flex;
    gap: 20px; 
}

.statItem {
    text-align: center; 
}

.statValue {
    font-size: 20px;
    font-weight: bold;
}

.statLabel {
    font-size: 14px;
}
/* 프로필 영역 */