nav {
    position: fixed; 
    width: 15%;
    height: 100%; 
    border-right: 1px solid #ccc; 
    overflow-y: auto; 
    text-align: left;
    cursor: pointer;
}

ul {
    padding: 0;
}
.homeIcon{
    font-size: 30px;
    margin: 30px 40px;
    display: none;
}

li {
    list-style: none;
    padding: 5px 0;
}

.linkFont {
    font-size: 20px;
    color: black;
    display: block;
    padding: 10px; 
    text-decoration: none; 
}

.linkFont:hover {
    margin-right: 10px;
    border-radius: 10px;
    background-color: #f0f0f0;
}

.nanumPen {
    font-family: "Nanum Pen Script", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    margin: 38px 40px;
}

.modalArea textarea{
    width: 600px;
    height: 300px;
    resize: none;
    border-radius: 10px;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
}

.insertBtn {
    width: 150px;
    height: 35px;
    border-radius: 10px;
    border-style: none;
    background-color: #77d8ff;
    color: white;
    margin: 40px 20px;
}

@media (max-width: 1300px) {
    nav {
        position: fixed; 
        width: 8%;
        height: 100%; 
        overflow-y: auto; 
    }
    .navText {
        display: none;
    }
    .nanumPen {
        display: none;
    }
    .homeIcon{
        font-size: 30px;
        margin: 45px 40px;
        display: block;
    }

    .linkFont:hover {
        margin-right: 25px;
        border-radius: 10px;
        background-color: #f0f0f0;
    }
}

/* 게시글 업로드 */
.file-upload-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.file-input-container {
    margin-bottom: 10px;
}

.preview-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: center; 
    gap: 5px;
}

.preview-image {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 50%;
}

.activeTab {
    background-color: #77d8ff;
    color: white;
    border-radius: 10px; 
    margin-right: 10px;
}